<section class="hero is-primary is-left">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Maps
      </h1>
      <h2 class="subtitle">
        The places of extraordinary people
      </h2>
    </div>
  </div>
</section>

<section class="section">

  <div class="container" id="map-container">
    <%= render 'mapboxgl' %>
  </div>
</section>
