<% if object.errors.any? %>
  <div class="container">
    <div class="notification is-warning">
      <p>
        Please correct the following things in order to proceed:
      </p>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li> <%= message %></li>
        <% end -%>
      </ul>
    </div>
  </div>
<% end %>
