<footer class="footer">
  <div class="outer-container">
    <h4>Check out our official website!</h4>
    <a href="http://www.cansbridgefellowship.com/" type="button" class="btn" target="_blank">www.cansbridgefellowship.com</a>
  </div>
</footer>