<div class="container">
  <nav class="navbar">
    <div class="navbar-left">
        <p class="navbar-item"><%= link_to "Home", "/home"%></p>
        <p class="navbar-item"><%= link_to "Maps", "/maps"%></p>
        <p class="navbar-item"><%= link_to "Directory", "/directory"%></p>
    </div>
    <div class="navbar-right">
      <p class="navbar-item"><strong><%= link_to "Profile", "profile" %></strong></p>
      <p class="navbar-item"><a>Logout</a></p>
    </div>
  </nav>
</div>
