<% title "About" %>

<section class="section">
  <div class="container">
    <div class="heading">
      <h2 class="subtitle">Our Mission</h2>
      <p>The Cansbridge Fellowship is a global community of entrepreneurial minded, risk taking, and adventurous students and professionals who support each other in developing new and existing ventures both personally and professionally. We aim to recruit ambitious, driven, entrepreneurial minded individuals, and invest our resources in these individuals to help them bridge the gap between being a student or recent graduate and your dream career.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="heading">
      <h2 class="subtitle">Purpose</h2>
      <p>Our alumni go on to work for the most innovative companies in the world, participate in elite entrepreneurial programs, or end up starting a venture of their own. With a constantly growing network, new tools are needed to keep ongoing communication and engagement with all of our members. This website is a prototype of a portal that can be used to record and update member information.
      </p>
    </div>
  </div>
</section>