<% title "Home" %>
<section class="hero is-medium is-bold">
  <div class="hero-content">
    <div class="container">  
      <div class="column is-half is-offset-quarter">
          <%= image_tag "logo/cansbridge_logo_nowords.png" %>
      </div>
      <h1 class="title">
        Cansbridge Portal
      </h1>
      <h2 class="subtitle">
        A user management system for the Cansbridge Fellowship
      </h2>
    </div>
  </div>
</section>


