

<div class="simple-header"><h1>Cansbridge Portal</h1>
</div>
<section class="wrap">
  <div class="content-header center-align">
    <h2>Our Mission</h2>
    <hr>
    <p>The Cansbridge Fellowship is a global community of entrepreneurial minded, risk taking, and adventurous students and professionals who support each other in developing new and existing ventures both personally and professionally. We aim to recruit ambitious, driven, entrepreneurial minded individuals, and invest our resources in these individuals to help them bridge the gap between being a student or recent graduate and your dream career.
    </p>
  </div>

  <h3>Why Make This?</h3>
    <p>Our alumni go on to work for the most innovative companies in the world, participate in elite entrepreneurial programs, or end up starting a venture of their own. With a constantly growing network, new tools are needed to keep ongoing communication and engagement with all of our members. This website is a prototype of a portal that can be used to record and update member information.
    </p>
</section>

<section class="wrap grey" id="manifesto">
  <div class="content-header center-align">
    <h4>Manifesto of Software Craftmanship</h4>
    <blockquote>Not only working software, but also well-crafted software. Not only responding to change, but also steadily adding value. Not only individuals and interactions, but also a community of professionals. Not only customer collaboration, but also productive partnerships.</blockquote>
  </div>
</section>

<section class="portal-enter">
  <div class="portal-btn">
    <h4>Enter Portal</h4>
  </div>
</section>


