<%= render 'shared/error_messages', object: @cohort if @cohort.errors.any? %>
<div class="section">
  <div class="container">
    <label class="label">Name</label>
    <p class="control">
      <%= form.text_field :name, placeholder: "Class of 2016" %>
    </p>
    <label class="label">Year</label>
    <p class="control">
      <%= form.text_field :year, collection: Cohort::CLASS_YEARS, :class => "select" %>
    </p>
  </div>
</div>

<div class="section">
  <div class="container">
    <p class="control">
      <%= form.submit "Submit", :class => "button is-info" %>
    </p>
  </div>
</div>
