<% title "Admin - Edit A Class" %>

<div class="section">
  <div class="container">
    <div class="title">Edit: <%= @cohort.name %> Program #<%= @cohort.id %></div>
    <div class="container">
      <%= form_for [:admin, @cohort] do |f| %>
        <%= render f %>
      <% end %>
    </div>
  </div>
</div>
