<% title "Admin - Add A New Class" %>

<div class="section">
  <div class="container">
    <div class="title">Add a Class</div>
    <%= form_for [:admin, @cohort] do |f| %>
      <%= render f %>
    <% end %>
  </div>
</div>
