<% title "Admin - New Fellow" %>

<div class="section">
  <div class="container">
    <div class="title"><%= @cohort.name %>: New Member</div>
  </div>

  <div class="container">
    <%= form_for [:admin, @fellow],:url => admin_fellows_path(@fellow), :html => { :multipart => true } do |f| -%>
      <%= render f %>

    <% end %>
  </div>
</div>
